header{
	padding-left: 80px;
}
body{
    border-left: 250px solid #FFDAB9;
	padding-left: 100px;
    padding-right: 50px;
	margin: 40px;
	background-color: #383838;
	
}
.nav{
	position: absolute;
	width:100%;
}
.nav a{
	position: relative;
	left: 50%;
	top: 10px;
	color: black;
	text-decoration: none;
	margin-right: 50px;
	font-family: arial black;
}.left_container{
	width: 300px;
	background-color: #83B3E7;
	position: fixed;
	height: 100%;
	left: 0;
	top: 0;
	border-right: 6px solid #C8DFF7;
	padding: 20px;
	font: #FFDAB9;
}.left_container a{
	color: white;
	display: block;
	padding: 12px;
	text-decoration: none;
	font-family: arial black;
	text-align: center;
}
a:hover{
	color: #383838;
}
.left_container h3{
	color: white;
	font-family: arial black;
	text-align: center;
	margin-top: 300px;
}
.left_container img {
	float: left;
	position: fixed;
	width: 200px; 
	height: 200px;
	border-radius: 100px ;
	border: 7px solid #C8DFF7;
	vertical-align:middle;
	margin:50px;
}
p.a{
	font-size: 25px;
	text-align: center;
	margin: 10%;
	color: #FFDAB9;
}
h1, h2, h4, h3{
	color: white;
}
.about {
	border: 5px solid #C8DFF7;
	width: 700px;
	padding: 20px;
	font-size: 25px;
	text-align: center;
	margin: 5%;
	color: white;
	margin-left: 80px;
	font-family: times new roman;
}
.objective {
	border: 5px solid #C8DFF7;
	width: 700px;
	padding: 20px;
	font-size: 25px;
	text-align: center;
	margin: 5%;
	color: white;
	margin-left: 80px;
	font-family: times new roman;
}
.timeline{
	margin: 100px;
	width: 650px;
	border-left: 2px solid white;
	padding: 0 20px 0 30px;
}
.educ{
	background-color: #83B3E7;
	border: 2px solid #C8DFF7;
	padding: 5px;
	font-size: 16px;
	border: 1px;
	line-height: 1.7;
	position: relative;
	height: 100px;
	margin-bottom: 20px;
}
.educ:before{
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #383838;
	border: 3px solid #83B3E7;
	position: absolute;
	top: 10px;
	left: -40px;
}
.educ:after{
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent #ddd transparent transparent;
	border-width: 8px;
	position: absolute;
	left: -17px;
	top: 10px;
}
.educ h2{
	margin: 0;
	color: black;
	text-transform: uppercase;
	font-family: merienda;
}
.educ h3{
	margin: 0;
	color: black;
	font-family: poppins;
}
.educ h4{
	color: black;
	margin: 0;
	font-family: poppins;
}
.exp{
	border: 5px solid #C8DFF7;
	width: 400px;
	padding: 40px;
	font-size: 25px;
	text-align: center;
	margin: 10%;
	color: white;
	margin-left: 200px;
	font-family: times new roman;
}
.contact{
	display: flex;
	width: 100%;
	max-width: 1200px;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
}
.card{
	background: #83B3E7;
	padding: 0 20px;
	margin: 0 10px;
	width: calc(33% - 20px);
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	cursor: pointer;
}
.card-icon{
	font-size: 28px;
	background: #383838;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px !important;
	border-radius: 50%;
	transition: 0.3s linear;
}
.card:hover .card-icon{
	background: none;
	color: #ff6348;
	transform: scale(1.6);
}
.card p{
	margin-top: 20px;
	font-weight: 300;
	letter-spacing: 2px;
	max-height: 0;
	opacity: 0;
	transition: 0.3s linear;
}
.card:hover p{
	max-height: 40px;
	opacity: 1;
}
p{
	font-family: "georgia", Times, serif;
	font-size: 15px;
	font-weight: bold;
	color: white;
}
.myskill{
	border: 5px solid #C8DFF7;
	width: 700px;
	padding: 10px;
	margin: 5%;
	margin-left: 80px;
	
}
.skills {
	border: 3px solid #C8DFF7;
	width: 100%;
	height: 25px;
	background-color: white;
}
.skill {
	font-weight: bold;
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
	color: black;
}
.html {
	width: 25%; 
	height: 15px; 
	background-color: red;
}
.css {
	width: 25%; 
	height: 15px; 
	background-color: orange;
}
.cplus {
	width: 35%;
	height: 15px; 
	background-color: yellow;
}
.java {
	width: 50%; 
	height: 15px; 
	background-color: green;
}
.python {
	width: 50%;
	height: 15px; 	
	background-color: blue;
}
.photoshop {
	width: 25%;
	height: 15px; 	
	background-color: pink;
}

